

@import url('https://fonts.googleapis.com/css?family=Catamaran:800,400|Open+Sans:800,400,500|Source+Sans+Pro:400+500');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Catamaran', sans-serif;
*/

body{
    
    /* stolen video https://player.vimeo.com/video/259899392?background=1 */
    
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    
}

